* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #667755;
}

body {
    font-family: 'Raleway';
    font-size: 20px;
    margin: 10px 10px;
    padding: 10px;
    background-color: #FFFFFF;
    color: #554433;
    border-radius: 8px;
    box-shadow: 4px 4px 6px #000000;
}

header {
    text-align: center;
}

address {
    margin-top: 10px;
    font-family: 'Inconsolata';
    line-height: 1.5;
}

time {
    display: inline-block;
    font-style: italic;
    font-weight: normal;
    font-size: .83em;
    white-space: nowrap;
    text-align: right;
    color: #A98;
}

h1, h2 {
    margin-top: 30px;
}

h3, h4, h5, h6 {
    display: inline-block;
    margin-top: 15px;
}

h1 {
    font-family: 'Playfair Display';
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;
    color: #aa3333;
}

h2 {
    color: #aa3333;
}

ul {
    list-style-type: none;
}

p {
    text-align: justify;
}

a {
    color: #448800;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.education h4 {
    font-style: italic;
}

.research h3 span,
.teaching h3 span
{
    font-size: smaller;
    font-weight: normal;
}

.publications h3,
.talks h3,
.reports h3,
.software h3,
.talks h3
{
    font-size: 1em;
}

.community h3 {
    font-size: 1em;
}

.community h4 {
    font-size: .83em;
}

/* .community .carver h4 { */
/*     margin-top: 10px; */
/* } */

/* .community .carver p:not(:last-child) { */
/*     margin-bottom: 10px; */
/* } */

.community h4 {
    white-space: nowrap;
}

.dated {
    display: flex;
    align-items: baseline;
}

.dated time {
    flex: 1;
}

@media only screen and (min-width: 920px) {
    body {
        width: 900px;
        margin: 10px auto;
    }
}
